<?xml version="1.0"?>
<config>
    <modules>
        <Konduto_Score>
            <version>0.1.0</version>
        </Konduto_Score>
    </modules>
    <frontend>
        <routers>
            <score>
                <use>standard</use>
                <args>
                    <module>Konduto_Score</module>
                    <frontName>score</frontName>
                </args>
            </score>
        </routers>
        <layout>
            <updates>
                <score>
                    <file>score.xml</file>
                </score>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <score>
                <use>admin</use>
                <args>
                    <module>Konduto_Score</module>
                    <frontName>score</frontName>
                </args>
            </score>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Konduto_Score>
                            <title>Score Module</title>
                            <sort_order>10</sort_order>
                        </Konduto_Score>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <score>
                    <file>score.xml</file>
                </score>
            </updates>
        </layout>
        <translate>
            <modules>
                <Konduto_Score>
                    <files>
                        <default>Konduto_Score.csv</default>
                    </files>
                </Konduto_Score>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <score>
                <class>Konduto_Score_Model</class>
                <resourceModel>score_mysql4</resourceModel>
            </score>
            <score_mysql4>
                <class>Konduto_Score_Model_Mysql4</class>
                <entities>
                    <score>
                        <table>score</table>
                    </score>
                </entities>
            </score_mysql4>
        </models>
        <resources>
            <score_setup>
                <setup>
                    <module>Konduto_Score</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </score_setup>
            <score_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </score_write>
            <score_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </score_read>
        </resources>
        <blocks>
            <score>
                <class>Konduto_Score_Block</class>
            </score>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Konduto_Score_Block_Adminhtml_Order_Grid</sales_order_grid>
                    <sales_order_view_info>Konduto_Score_Block_Sales_Order_View_Score</sales_order_view_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <score>
                <class>Konduto_Score_Helper</class>
            </score>
        </helpers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <tag_konduto>
                        <type>singleton</type>
                        <class>Konduto_Score_Model_Observer</class>
                        <method>setTag</method>
                    </tag_konduto>
                </observers>
            </controller_action_layout_load_before>
            <sales_model_service_quote_submit_before>
                <observers>
                    <get_konduto_score>
                        <type>singleton</type>
                        <class>Konduto_Score_Model_Observer</class>
                        <method>prepareScore</method>
                    </get_konduto_score>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_success>
                <observers>
                    <get_konduto_score>
                        <type>singleton</type>
                        <class>Konduto_Score_Model_Observer</class>
                        <method>setScorePayment</method>
                    </get_konduto_score>
                </observers>
            </sales_model_service_quote_submit_success>
            <controller_action_postdispatch_checkout>
                <observers>
                    <get_konduto_score>
                        <type>singleton</type>
                        <class>Konduto_Score_Model_Observer</class>
                        <method>sendScoreRequest</method>
                    </get_konduto_score>
                </observers>
            </controller_action_postdispatch_checkout>
            <!-- <core_block_abstract_to_html_before>
                <observers>
                    <konduto_invoice>
                        <type>singleton</type>
                        <class>Konduto_Score_Model_Observer</class>
                        <method>addAlertonInvoice</method>
                    </konduto_invoice>
                    <konduto_order_page>
                        <type>singleton</type>
                        <class>Konduto_Score_Model_Observer</class>
                        <method>addManualButton</method>
                    </konduto_order_page>
                </observers>
            </core_block_abstract_to_html_before>
             <sales_order_invoice_register>
                <observers>
                    <invoice_save>
                        <type>singleton</type>
                        <class>Konduto_Score_Model_Observer</class>
                        <method>updateOrder</method>
                    </invoice_save>            
                </observers>
            </sales_order_invoice_register> -->
        </events>
    </global>
    <default>
        <scoreoptions>
            <messages>
                <reviewupscore>0.15</reviewupscore>
                <reviewloscore>0.06</reviewloscore>
            </messages>
        </scoreoptions>
    </default>
</config>