<?xml version="1.0"?>
<config>
    <tabs>
        <scoreconfig module="score">
            <label>Konduto</label>
            <sort_order>9</sort_order>
        </scoreconfig>
    </tabs> 
    <sections>
        <scoreoptions translate="label" module="score">
            <label>Fraud Settings</label>
            <tab>scoreconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>8000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <messages translate="label comment">
                    <label>Konduto - Fraud Detection Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>   
                    <fields>
                        <activate>
                            <backend_model>score/system_save</backend_model> 
                            <label>Enable</label>
                            <comment>Enable or Disable Konduto</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>   
                        </activate>
                        <mode>
                            <label>Mode</label>
                            <comment>Switch between Sandbox and Production modes</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>score/system_select</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </mode>
                        <sandboxpublickey>
                            <label>Sandbox Public Key</label>
                            <comment>TXXXXXXXXXX (11 characters)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                            <depends>
                                <mode>0</mode>
                            </depends>
                        </sandboxpublickey>
                        <sandboxprikey>
                            <label>Sandbox Private Key</label>
                            <comment>TXXXXXXXXXXXXXXXXXXXX (21 characters)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <mode>0</mode>
                            </depends>  
                        </sandboxprikey>
                        <productionpublickey>
                            <label>Production Public Key</label>
                            <comment>PXXXXXXXXXX (11 characters)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                            <depends>
                                <mode>1</mode>
                            </depends>
                        </productionpublickey>
                        <productionprikey>
                            <label>Production Private Key</label>
                            <comment>PXXXXXXXXXXXXXXXXXXXX (21 characters)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                            <depends>
                                <mode>1</mode>
                            </depends>
                        </productionprikey>
                        
                        <reviewaction>
                            <label>Analysis Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>score/system_review</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                        </reviewaction>
                        <reviewupscore>
                            <label>Decline recommendation prompt</label>
                            <comment>If score is higher than this, prompt me for approval during invoicing.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                        </reviewupscore>
                        <reviewloscore>
                            <label>Approve recommendation prompt</label>
                            <comment>If the score is lower than this, do not prompt me for approval.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                        </reviewloscore>
                        <debug>
                            <label>Debug</label>
                            <comment><![CDATA[konduto.log file is created in var/log where you can see details of of request and response.<br> You also need to enable logging from Advance-> Developer-> Log Settings]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                    </fields>              
                </messages>
            </groups>
        </scoreoptions>
        <scoreinfo translate="label comment" module="score">
            <label>About Us</label>
            <tab>scoreconfig</tab>
            <sort_order>8001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extensions translate="label comment">
                    <label>About Konduto</label>
                    <comment><![CDATA[<p><b>Konduto - Spot fraud with Buying Behavior</b></p><p>Konduto is a fraud detection service that helps e-commerce merchants spot fraud with Buying Behavior. We use browsing patterns to recognize fraudulent behavior on your website, so we can detect fraud even before the user submits the order.</p><br><p>For more information visit <a href='https://www.konduto.com'>www.konduto.com</a>.]]></comment>
                    <sort_order>101</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extensions>
            </groups>
        </scoreinfo>
    </sections>
</config>